<form action="/add/" method="post">

{{show}}

<p>用户名：<input name="name" type="text"></p>
<p>级别：<input name="level" type="radio" value="high">高<input name="level" type="radio" value="low">低</p>
<p>密码：<input name="pw" type="password"></p>
<p><input type="submit" value="提交"></p>

</form>

<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta name="renderer" content="webkit">-->

    <!--<title>电力远程指导平台</title>-->

    <!--&lt;!&ndash;[if lt IE 8]>-->
    <!--<script>-->
        <!--alert('EasyDarwin已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');-->
    <!--</script>-->
    <!--<![endif]&ndash;&gt;-->


<!--</head>-->



<!--</html>-->