<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>电力远程指导平台</title>
    <link href="css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=3.2.0" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="js/ajaxhandle.js"></script>
    <script type="text/javascript" src="js/language.js"></script>
    <script type="text/javascript" src="js/verify.js"></script>
    <script type="text/javascript" src="js/userlisttable.js"></script>
</head>

<body class="gray-bg" onload="getUsers()">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户管理
                        </h5>
                    </div>
                    <div class="ibox-content">
                     <h5>用户管理
                     </h5>
                     <form method="get" class="form-horizontal adduser">
                        <div class="">
                            <input  class="col-sm-2" type="text" class="form-control" id="txtnewuser" placeholder="用户名" value="">
                            <input  class="col-sm-2" type="password" class="form-control" id="txtnewpass1" placeholder="密码" value="">
                            <input  class="col-sm-2" type="password" class="form-control" id="txtnewpass2" placeholder="再次输入密码" value="">
                            <span class="col-sm-2">
                            权限:
                            <label><input type="radio" name="level" value="high" />高</label>
                            <label><input type="radio" name="level" value="low">低</label>
                            </span>
                            <button class="btn btn-primary col-sm-2 " onclick="addOneUser()">保存</button>
                        </div>
                    </form>

                    <table class="table table-bordered table-striped">
                        <caption>用户列表</caption>
                        <thead>
                            <tr><th>用户名</th><th colspan="2">操作</th></tr>
                        </thead>
                        <tbody id = "user-list-content">
                           <tr> 
                              <td>xioaming</td>
                              <td><button class="btn btn-primary" data-toggle="modal" data-target="#modal-form" onclick = "reSetUserPwdRender(‘xiaoming’)"> 修改密码</button></td>
                              <td><button class="btn btn-primary"onclick = "deleteUser(‘xiaoming’) ">删除用户</button></td>
                              </tr>
                          </tbody>
                      </table>
                        <div id="pagelist"></div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">修改用户密码</h3>

                        <form role="form">
                            <div class="form-group">
                                <label>名称：</label>
                                <input type="text" id="user-name" class="form-control" id="txtname">
                            </div>
                            
                           <div class="form-group">
                                <input type="password" placeholder="请输入原密码" class="form-control" id="oldPw">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="请输入新密码" class="form-control" id="txtnewpass11">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="请再次输入新密码" class="form-control" id="txtnewpass22">
                            </div>
                            <div>

                               <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close" >
                                    <strong>保存</strong>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 全局js -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js?v=3.4.0"></script>

</body>

</html>