.opmcrtop{
	width: 830px;
	height: 61px;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid #787878;
	border-radius: 8px;
	
}
.opmcrtspan{
	width: 830px;
	float: left;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	display: block;
	text-align: center;
	line-height: 35px;
	margin-left: 30px;
}
.opmcrtdivone{
	width: 100%;
	height: 30px;
	float: left;
}
.opdosp{
	width: 70px;
	height: 30px;
	border-right: 1px solid #787878;
}
.opdoinput{
	width: 312px;
	height: 30px;
	border-right: 1px solid #787878;
}
.opdoinputtwo{
	width: 372px;
	height: 30px;
}
.opmcrdivtwo{
	float: left;
	border-top: 1px solid #787878;
	width: 100%;
	height: 30px;
}
.opdtspan{
	float: left;
	text-align: center;
	line-height: 30px;
}
.opstsp{
	width: 70px;
	height: 30px;
	border-right: 1px solid #787878;
}
.opstsinput{
	width: 120px;
	height: 30px;
	border-right: 1px solid #787878;
}
.opstst{
	width: 100px;
	height: 30px;
	border-right: 1px solid #787878;
}
.opststinput{
	width: 342px;
	height: 30px;
}
.opmcrmiddle{
	width: 100%;
	float: left;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	display: block;
	color: #444444;
	margin-top: 10px;
}
.opmcrbottom{
	margin-top: 15px;
}














